<h1>Convert <%= @the_symbol %> to USD</h1>

<% ENV.fetch("EXCHANGE_RATE_KEY") %>

<%= params %>>

<ul>

  <% @currencies.keys.each do |symbol| %>
    <li>
    <a href="/<%= @the_symbol %>/<%= symbol %>">Convert 1 <%= symbol %> to...</a></li>
  <% end %>
</ul>
